/* .hehe {
    color:red;
} */

* {
    /* color: ghostwhite; */
}
.app{
    background-color: rgb(93, 105, 101);
    /* color: ghostwhite; */
    padding: 20px;
    min-height: 100vh;
    max-width: 100vw;
}